<!DOCTYPE html>
<html lang="en">
<body>
    <h1>Test CSRF Protection</h1>
    <a href="/fail">Form for failure.</a>
    <a href="/succeed">Form for success.</a>
    <a href="/refresh">Cause csrf refresh.</a>
    <p>Token is <%= _csrf %></p>
</body>
</html>