<!DOCTYPE html>
<html lang="en">
<body>
    <h1>This will post</h1>
    <form action="/report?_csrf=<%= _csrf %>" method="POST">
        <label for="input-1">input</label>
        <input type="text" id="input-1" name="input_1">
        <button type="submit">Submit</button>
       <!-- <input type="hidden" name="_csrf" value="<%= _csrf %>"> -->
    </form>
    <a href="/">Home</a>
</body>
</html>